@model Portal.ViewModels.Trades.IndexVM
@{
    ViewBag.Title = "Trades";
}

<div class="padded-content trades-page">

    <h3>Opened trades</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ticker</th>
                <th class="text-right">Bundles</th>
                <th class="text-right">Open date</th>
                <th class="text-right">Shares</th>
                <th class="text-right">Open price [$]</th>
                <th class="text-right">Close date</th>
                <th class="text-right">Close price [$]</th>
                <th class="text-right">Commission [$]</th>
                <th class="text-right">Profit [$]</th>
                <th class="text-right">Product profit [%]</th>
                <th class="text-right">Account profit [%]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ScaleBundle bundle in Model.OpenedTrades.OrderBy(x => x.DateTimeOpened).ThenBy(x => x.Ticker))
            {
                <tr>
                    <td>@bundle.Ticker</td>
                    <td class="text-right">@bundle.Scale</td>
                    <td class="text-right">@bundle.DateTimeOpened.ToString("d.M.yyyy")</td>
                    <td class="text-right">@bundle.Shares</td>
                    <td class="text-right">@bundle.OpenPrice.ToString("0.00")</td>
                    <td class="text-right">???</td>
                    <td class="text-right">@bundle.ClosePrice.ToString("0.00")</td>
                    <td class="text-right">@bundle.TotalCommission.ToString("0.000")</td>
                    <td class="text-right @bundle.Profit.NumberHighlightClass()">@bundle.Profit.ToString("0.00")</td>
                    <td class="text-right @bundle.ProductProfitPercent.NumberHighlightClass()">@bundle.ProductProfitPercent.ToString("0.00")</td>
                    <td class="text-right @bundle.AccountProfitPercent.NumberHighlightClass()">@bundle.AccountProfitPercent.ToString("0.00")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Sum</td>
                <td class="text-right">@Model.OpenedTrades.Sum(x => x.Scale)</td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right">@Model.OpenedTrades.Sum(x => x.TotalCommission).ToString("0.000")</td>
                <td class="text-right @Model.OpenedTrades.Sum(x => x.Profit).NumberHighlightClass()">@Model.OpenedTrades.Sum(x => x.Profit).ToString("0.00")</td>
                <td class="text-right @Model.OpenedTrades.Sum(x => x.ProductProfitPercent).NumberHighlightClass()">@Model.OpenedTrades.Sum(x => x.ProductProfitPercent).ToString("0.00")</td>
                <td class="text-right @Model.OpenedTrades.Sum(x => x.AccountProfitPercent).NumberHighlightClass()">@Model.OpenedTrades.Sum(x => x.AccountProfitPercent).ToString("0.00")</td>
            </tr>
        </tfoot>
    </table>

    <h3>Closed trades</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ticker</th>
                <th class="text-right">Bundles</th>
                <th class="text-right">Open date</th>
                <th class="text-right">Shares</th>
                <th class="text-right">Open price [$]</th>
                <th class="text-right">Close date</th>
                <th class="text-right">Close price [$]</th>
                <th class="text-right">Commission [$]</th>
                <th class="text-right">Profit [$]</th>
                <th class="text-right">Product profit [%]</th>
                <th class="text-right">Account profit [%]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ScaleBundle bundle in Model.ClosedTrades.OrderByDescending(x => x.DateTimeClosed).ThenBy(x => x.Ticker))
            {
                <tr>
                    <td>@bundle.Ticker</td>
                    <td class="text-right">@bundle.Scale</td>
                    <td class="text-right">@bundle.DateTimeOpened.ToString("d.M.yyyy")</td>
                    <td class="text-right">@bundle.Shares</td>
                    <td class="text-right">@bundle.OpenPrice.ToString("0.00")</td>
                    <td class="text-right">@bundle.DateTimeClosed.ToString("d.M.yyyy")</td>
                    <td class="text-right">@bundle.ClosePrice.ToString("0.00")</td>
                    <td class="text-right">@bundle.TotalCommission.ToString("0.000")</td>
                    <td class="text-right @bundle.Profit.NumberHighlightClass()">@bundle.Profit.ToString("0.00")</td>
                    <td class="text-right @bundle.ProductProfitPercent.NumberHighlightClass()">@bundle.ProductProfitPercent.ToString("0.00")</td>
                    <td class="text-right @bundle.AccountProfitPercent.NumberHighlightClass()">@bundle.AccountProfitPercent.ToString("0.00")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Sum</td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right">@Model.ClosedTrades.Sum(x => x.TotalCommission).ToString("0.000")</td>
                <td class="text-right @Model.ClosedTrades.Sum(x => x.Profit).NumberHighlightClass()">@Model.ClosedTrades.Sum(x => x.Profit).ToString("0.00")</td>
                <td class="text-right @Model.ClosedTrades.Sum(x => x.ProductProfitPercent).NumberHighlightClass()">@Model.ClosedTrades.Sum(x => x.ProductProfitPercent).ToString("0.00")</td>
                <td class="text-right @Model.ClosedTrades.Sum(x => x.AccountProfitPercent).NumberHighlightClass()">@Model.ClosedTrades.Sum(x => x.AccountProfitPercent).ToString("0.00")</td>
            </tr>
        </tfoot>
    </table>
</div>

